<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Labs | Daily layout #04
    body
        header.heading
            h1.heading__title   bauhaus
            .heading__subtitle
                h2.subtitle__item  bauhaus-archiv berlin
                h2.subtitle__item  magdalena droste
        .yellow
        .blue
        section.year
            h3.year__item   1919
            h3.year__item   1933
        .red
        .gray