body {
    background: $color-bg;
}

// Grid layout

.grid-container {
    display: grid;
}

// Titles
.heading {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;

    &__title {
        font-size: 10px;
    }
}
